language: julia

os:
  - linux
  - osx

julia:
  - 1.1
  - 1.2
  - 1.3
  - 1.4
  - 1.5
  - nightly

matrix:
  allow_failures:
  - julia: 1.5
  - julia: nightly

notifications:
  email: false

addons:
  apt_packages:
    - gfortran
